<!DOCTYPPE html>
<html>
  <head>
    <title>Agendamento</title>
    <meta name="viewport" content="width=device-width.initial-scale-1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbat-dark bg-dark shadoow">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">Agendamento</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Agendamentos", appointment_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Novo", new_appointment_path, class: "btn btn-danger ms-2" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <main  class="container mt-5">
      <%= yeld %>
    </main>
  </body>
</html>